[submodule "LightMessaging"]
	path = LightMessaging
	url = https://github.com/rpetrich/LightMessaging
[submodule "RocketBootstrap"]
	path = RocketBootstrap
	url = https://github.com/rpetrich/RocketBootstrap
