<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Automa</string>
	<key>items</key>
	<array>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>GloballyEnabled</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>co.pNre.automa/settingsupdated</string>
			<key>label</key>
			<string>Enabled</string>
			<key>defaults</key>
			<string>co.pNre.automa</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Alerts</string>
			<key>detail</key>
			<string>AutomaAlertsSettingsListController</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Blacklisted apps</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/co.pNre.automa.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>BlacklistedApps-</string>
			<key>ALChangeNotification</key>
			<string>co.pNre.automa/settingsupdated</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Activation</string>
			<key>footerText</key>
			<string>Press gesture duration</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>Shake</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>co.pNre.automa/settingsupdated</string>
			<key>label</key>
			<string>Shake</string>
			<key>defaults</key>
			<string>co.pNre.automa</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>Tint</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>co.pNre.automa/settingsupdated</string>
			<key>label</key>
			<string>Red tint</string>
			<key>defaults</key>
			<string>co.pNre.automa</string>
		</dict>
		<dict>
			<key>default</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.5</real>
			<key>max</key>
			<real>4.0</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>PressDuration</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>PostNotification</key>
			<string>co.pNre.automa/settingsupdated</string>
			<key>defaults</key>
			<string>co.pNre.automa</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Alerts</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>DragToCloseAlerts</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>co.pNre.automa/settingsupdated</string>
			<key>label</key>
			<string>Drag to close</string>
			<key>defaults</key>
			<string>co.pNre.automa</string>
		</dict>
	</array>
</dict>
</plist>
